@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

html,
body,
* {
  padding: 0; margin: 0;
}
* {
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}

/* scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
}


/* background colors */
.bg-none{
  background: none;
}
.bg-white{
  background: #fff;
}
.bg-fff{
  background: #fff;
}
.bg-cyan{
  background: cyan;
}
.bg-pink{
  background: hotpink;
}
.bg-00000093{
  background: #00000093;
}
.bg-dgray{
  background: #00000099;
}
.bg-555{
  background: #555;
}
.bg-555{
  background: #555;
}
.bg-3b4452{
  background: #3b4452;
}
.bg-3b4452a6{
  background: #3b4452a6;
}

.bg-8dc0d4{
  background: #8dc0d4;
}
.bg-green{
  background: #41a827;
}
.bg-lgreen{
  background: #9bc777;
}
.bg-f5{
  background: #f5f5f5;
}
.bg-ccc{
  background: #ccc;
}
.bg-cccccc54{
  background: #cccccc54;
}
.bg-8dc{
  background: #8dc0d4;
}

/* hover-background */
.hov-bg:hover{
  background: #5555557c;
}
.hov-bgpink:hover{
  background: hotpink;
}
.hov-bgfff:hover{
  background: #fff;
}
.hov-b-ccc:hover{
  border: 1px solid #ccc;
}
.hov-bdfff:hover{
  border: 1px solid #fff;
}
.hov-cfff:hover{
  color: #fff;
}
/* Cursor */
.c-arrow:hover{
  cursor: default;
}


/* Heights */
.h-100vh{
  height: 100vh;
}
.h-100pc{
  height: 100%;
}
.h-70pc{
  height: 70%;
}
.h-80pc{
  height: 80%;
}
.h-fcnt{
  height: fit-content;
}
.h-15px{
  height: 15px;
}
.h-20px{
  height: 20px;
}
.h-30px{
  height: 30px;
}
.h-40px{
  height: 40px;
}
.h-50px{
  height: 50px;
}
.h-60px{
  height: 60px;
}
.h-70px{
  height: 70px;
}
.h-90px{
  height: 90px;
}
.h-120px{
  height: 120px;
}
.h-180px{
  height: 180px;
}
.h-210px{
  height: 210px;
}
.h-300px{
  height: 300px;
}
.h-330px{
  height: 330px;
}


/* Widths */
.w-100vw{
  width: 100vw;
}
.w-100pc{
  width: 100%;
}
.w-70pc{
  width: 70%;
}
.w-80pc{
  width: 80%;
}
.w-10pc{
  width: 10%;
}
.w-fcnt{
  width: fit-content;
}
.w-15px{
  width: 15px;
}
.w-20px{
  width: 20px;
}
.w-30px{
  width: 30px;
}
.w-40px{
  width: 40px;
}
.w-50px{
  width: 50px;
}
.w-70px{
  width: 70px;
}
.w-80px{
  width: 80px;
}
.w-90px{
  width: 90px;
}
.w-100px{
  width: 100px;
}
.w-120px{
  width: 120px;
}
.w-150px{
  width: 150px;
}
.w-330px{
  width: 330px;
}
.w-420px{
  width: 420px;
}
.w-450px{
  width: 460px;
}
.w-600px{
  width: 600px;
}
.mw-80px{
  min-width: 80px;
}
.maxw-595px{
  max-width: 595px;
}


/* overflow */
.ov-auto{
  overflow: auto;
}
.ov-hidden{
  overflow: hidden;
}
.ovy-auto{
  overflow-y: auto;
}
.ovy-hide{
  overflow-y: hidden;
}
.ovx-hide{
  overflow-x: hidden;
}

/* Borders */
.bd-none{
  border: none;
}
.bd-000{
  border: 1px solid #000;
}
.bd-afaeae{
  border: 1px solid #afaeae;
}
.bd-189bf1{
  border: 1px solid #189bf1;
}
.bb-none{
  border-bottom: none;
}
.bb-000{
  border-bottom: 1px solid #000;
}
.bl-000{
  border-left: 1px solid #000;
}

.btdash-lgray{
  border-top: 1px dashed #9c9c9c;
}
.bt-blue{
  border-top: 1px solid #0da7e4;
}
/* Border radius */
.br-50pc{
  border-radius: 50%;
}

/* Outline */
.out-none{
  outline: none;
}
.out-189bf1{
  outline: 1px solid #189bf1;
}

/* Display */
.in-block{
  display: inline-block;
}

/* Grid */
.grid{
  display: grid;
}
.gr-c4{
  grid-template-columns: repeat(4,1fr);
}
.gr-c15{
  grid-template-columns: repeat(15,1fr);
}
.gr-r15{
  grid-template-rows: repeat(15,1fr);
}


/* Flex */
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.gap-05em{
  gap: 0.5em;
}
.gap-1em{
  gap: 1em;
}
.gap-15em{
  gap: 1.5em;
}
.gap-2em{
  gap: 2em;
}
.ali-c{
  align-items: center;
}
.ali-e{
  align-items: flex-end;
}
.jus-c{
  justify-content: center;
}
.jus-e{
  justify-content: end;
}
.jus-btwn{
  justify-content: space-between;
}
.jus-even{
  justify-content: space-evenly;
}

/* Floats */
.float-l{
  float: left;
}
/* margins */
.m-0-auto{
  margin: 0 auto;
}

.m-05em{
  margin: 0.5em;
}
.m-1em{
  margin: 1em;
}
.m-15em{
  margin: 1.5em;
}
.ml-0{
  margin-left: 0;
}
.ml-03em{
  margin-left: 0.3em;
}
.ml-05em{
  margin-left: 0.5em;
}
.ml-1em{
  margin-left: 1em;
}
.ml-2em{
  margin-left: 2em;
}
.ml-25em{
  margin-left: 2.5em;
}
.ml-auto{
  margin-left: auto;
}
.mr-03em{
  margin-right: 0.3em;
}
.mr-05em{
  margin-right: 0.5em;
}
.mb-5px{
  margin-bottom: 5px;
}
.mb-1em{
  margin-bottom: 1em;
}
.mb-03em{
  margin-bottom: 0.3em;
}
.mb-05em{
  margin-bottom: 0.5em;
}
.mt-03em{
  margin-top: 0.3em;
}
.mt-05em{
  margin-top: 0.5em;
}
.mt-1em{
  margin-top: 1em;
}

/* paddings */
.p-02-05em{
  padding: 0.2em 0.5em;
}
.p-03em{
  padding: 0.3em;
}
.p-05em{
  padding: 0.5em;
}
.p-1em{
  padding: 1em;
}
.p-2em{
  padding: 2em;
}
.pl-05em{
  padding-left: 0.5em;
}
.pl-1em{
  padding-left: 1em;
}
.pl-15em{
  padding-left: 1.5em;
}
.pl-2em{
  padding-left: 2em;
}
.pr-05em{
  padding-right: 0.5em;
}
.pt-03em{
  padding-top: 0.3em;
}
.pt-05em{
  padding-top: 0.5em;
}


/* Text align */
.txt-c{
  text-align: center;
}
/* Letter spacing */
.lsp-05em{
  letter-spacing: 0.05em;
}
.lsp-013em{
  letter-spacing: 0.13em;
}
.lsp-02em{
  letter-spacing: 0.2em;
}


/* Font-family */
.nunitosans{
  font-family: 'Nunito Sans',Helvetica, sans-serif;
}

.lucida{
  font-family: "Lucida Console",monospace;
}

/* Font-color */
.c-fff{
  color: #fff;
}
.c-000{
  color: #000;
}
.c-faf8f8{
  color: #faf8f8;
}
.c-16a3e4{
  color: #16a3e4;
}
.c-189bf1{
  color: #189bf1;
}
.c-6bbcff{
  color: #6bbcff;
}
.c-4fce2f{
  color: #4fce2f;
}
.c-acacac{
  color: #acacac;
}
/* Text-shadows */
.txt-shdw-acacac{
  text-shadow: #acacac 1px 1px 6px;
}


/* Font-size */
.fs-8pt{
  font-size: 8pt;
}
.fs-9pt{
  font-size: 9pt;
}
.fs-10pt{
  font-size: 10pt;
}
.fs-11pt{
  font-size: 11pt;
}
.fs-11em{
  font-size: 1.1em;
}
.fs-12em{
  font-size: 1.2em;
}
.fs-15em{
  font-size: 1.5em;
}
.fs-18em{
  font-size: 1.8em;
}
.fs-2em{
  font-size: 2em;
}
.fs-25em{
  font-size: 2.5em;
}
.fs-3em{
  font-size: 3em;
}

.fs-12px{
  font-size: 12px;
}
.fs-15px{
  font-size: 15px;
}
.fs-16px{
  font-size: 16px;
}
.fs-30px{
  font-size: 30px;
}
.fs-50px{
  font-size: 50px;
}

/* Font-weight */
.fw-bold{
  font-weight: bold;
}
.fw-normal{
  font-weight: normal;
}
.fw-200{
  font-weight: 200;
}
.fw-600{
  font-weight: 600;
}

/* Text-transforms */
.txt-caps{
  text-transform: uppercase
}



/* POSITION STYLES */
.poa{
  position: absolute;
}
.pof{
  position: fixed;
}
.por{
  position: relative;
}
/* Top */
.t-100pc{
  top: 100%;
}
.t-0{
  top: 0;
}
.t-10pc{
  top: 10%;
}
.t-15pc{
  top: 15%;
}
.t-50pc{
  top: 50%;
}
.t--06em{
  top: -0.6em;
}
.t-02em{
  top: 0.2em;
}
.t-03em{
  top: 0.3em;
}
.t-05em{
  top: 0.5em;
}
.t-5px{
  top: 5px;
}
.t-30px{
  top: 30px;
}
.t-60px{
  top: 60px;
}
.t-100px{
  top: 115px;
}
.t-120px{
  top: 120px;
}
.t-150px{
  top: 160px;
}
.t-180px{
  top: 180px;
}
.t-360px{
  top: 330px;
}
/* Right */
.r-0{
  right: 0;
}
.r-05em{
  right: 0.5em;
}
.r-5px{
  right: 5px;
}
.r-10px{
  right: 10px;
}
.r-30px{
  right: 60px;
}

/* Bottom */
.b-0{
  bottom: 0;
}
.b-05em{
  bottom: 0.5em;
}
.b--10px{
  bottom: -10px;
}
.b--35px{
  bottom: -35px;
}
.b-30px{
  bottom: 30px;
}


/* Left */
.l-100pc{
  left: 100%;
}
.l-10pc{
  left: 10%;
}
.l-15pc{
  left: 15%;
}
.l-50pc{
  left: 50%;
}
.l--08em{
  left: -0.8em;
}
.l-0{
  left: 0;
}
.l-05em{
  left: 0.5em;
}
.l-07em{
  left: 0.7em;
}
.l-1em{
  left: 1em;
}
.l-10px{
  left: 10px;
}
.l-30px{
  left: 30px;
}
.l-160px{
  left: 160px;
}
.l-180px{
  left: 180px;
}
.l-210px{
  left: 210px;
}


/* z-index */
.z--1{
  z-index: -1;
}
.z-0{
  z-index: 0;
}
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 1;
}

/* Transformations */
.trot-90{
  transform: rotate(-90deg);
}
.trot-180{
  transform: rotate(-180deg);
}
.trotX-180{
  transform: rotateX(180deg);
}
.trotY-180{
  transform: rotateY(180deg);
}
.torigin-tl{
  transform-origin: top left;
}

.linear-05s{
  transition: all 0.5s linear;
}

.slide1 { 
  animation: slide1 0.2s ease-in forwards;
}
.slide2 { 
  animation: slide2 0.4s ease-out forwards; 
}

@keyframes slide1{
  from { bottom: 50%;}
  to { bottom: 98%; }
}

@keyframes slide2{
  from {transform: translateY(25px);}
  to {transform: translateY(0);}
}










