@media (min-width:800px) {
    :root{
        --footer-w: 450px;
        --footer-b:0.5em;
        --footer-l: calc(0.5 * calc(100vw - var(--footer-w)));
        --y: calc(90px + var(--footer-b));
        --page-height:calc(98vh - var(--y));
        --page-width:calc(var(--page-height) /  1.4142);
   
    }

    .landscape footer{
        bottom: var(--footer-b);
        left:var(--footer-l);
        width: var(--footer-w);
    }

    .landscape section{
        height: calc(100vh - var(--y));
    }

    .landscape .page{
        position: absolute;
        height: var(--page-height);
        width: var(--page-width);
        top: 1vh;
        left: calc(0.5 * calc(100vw - var(--page-width)));
    }
}