html,
body,
* {
  padding: 0; margin: 0;
}
* {
  box-sizing: border-box;
  list-style: none;
}
*:not(code){
  font-family: 'Arial', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

/* scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
}

/* margin classes */
.m-0-auto{
  margin: 0 auto;
}
.m-05em{
  margin: 0.5em;
}
.m-02em{
  margin: 0.2em;
}
.mt-05em{
  margin-top: 0.5em;
}
.mt-1em{
  margin-top: 1em;
}
.mb-05em{
  margin-bottom: 0.5em;
}

/* padding classes */
.p-0-15em{
  padding: 0em 1.5em;
}
.p-05-0em{
  padding: 0.5em 0;
}
.p-03-1em{
  padding: 0.3em 1em;
}
.p-05-2em{
  padding: 0.5em 2em;
}
.p-025em{
  padding: 0.25em;
}
.pl-22em{
  padding-left: 2.2em;
}

/* flex classes */
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.ali-c{
  align-items: center;
}
.jc-c{
  justify-content: center;
}
.jc-e{
  justify-content: end;
}
.jc-sb{
  justify-content: space-between;
}
.gap-06em{
  gap:0.6em;
}

/* Display */
.disp-block{
  display: block;
}

/* font-size */
.fs-1em{
  font-size: 1em;
}
.fs-15em{
  font-size: 1.5em;
}
.fs-2em{
  font-size: 2em;
}
.fs-11px{
  font-size: 12px;
}

/* text-align */
.txt-c{
  text-align: center;
}

/* letter-spacing */
.lsp-03em{
  letter-spacing: 0.03em;
}

/* color */
.c-light{
  color: #ccc;
}

/* backgrounds */
.bg-white{
  background: #fff;
}
.bg-dark{
  background: #303e46;
}
.bg-grad-1{
  background-image: linear-gradient(180deg, #f5eaea, #bbbbbb)
}

/* borders */
.bd-lgray{
  border: 1px solid #8b8b8b;
}
.bd-none{
  border: none;
}

/* border radius */
.br-20px{
  border-radius: 20px;
}
.br-50pc{
  border-radius: 50%;
}
.br-b-0{
  border-radius: 20px 20px 0 0;
}

/* box-shadows */
.bxs-lgray{
  box-shadow: 1px 2px 3px #8b8b8b;
}
.bxs-blue{
  box-shadow: 0 1px 6px 0 #6973ff;
}

/* Outline */
.o-none{
  outline: none;
}

/* positions */
.poa{
  position: absolute;
}
.por{
  position: relative;
}
.l-0{
  left: 0;
}
.l-05em{
  left: 0.5em;
}
.l-35em{
  left: 3.5em;
}
.t-0{
  top: 0;
}
.t-04em{
  top: 0.4em;
}
.t-08em{
  top: 0.8em;
}
.t-30vh{
  top: 30vh;
}

/* z-index */
.z-1{
  z-index:1;
}

/* Heights */
.mxh-40vh{
  max-height: 40vh;
}
.h-35em{
  height: 3.5em;
}
.h-100vh{
  height: 100vh;
}
.mxh-custom{
  max-height: calc(100vh - 4em);
}
/* widths */
.w-fc{
  width: fit-content;
}
.w-100pc{
  width: 100%;
}
.w-100vw{
  width: 100vw;
}
.mxw-390px{
  max-width: 390px;
}
.w-880px{
  width: 840px;
}
.w-84px{
  width: 84px;
}

/* overflow */
.ovfly-auto{
  overflow-y: auto;
}

/* Custom styles */
#landing section{
  width: 370px;
  left: calc(50vw - calc(370px/ 2));
}

/* Hover */
.hover:hover{
  background: #fff;
  box-shadow: none;
  border: 1px solid #3387cc6e;
  font-size: 1em;
}
.pointer:hover{
  cursor: pointer;
}